.Row {
    justify-content: center;
}

.Text {
    font-family: "Roboto Slab", serif;
    color: #dcdcdc;
}

.Card {
    width: 40rem;
    margin: 1.5rem;
    background: #212529;
}
.Card.Img {
    margin-top: 1rem;

}
.Link {
    text-decoration: none;

}

.Button {
    background-color: #f15355;
    border-color: #f15355;
    font-family: "Roboto Slab", serif;
    color: #dcdcdc;
}

.Button:hover {
    background-color: #037887;
    border: 4px solid #037887;
    color: #212529;

}

.Button:active {
    background-color: #dcdcdc !important;
    border: 4px solid #dcdcdc !important;
    color: #212529 !important;
}


