.NavBar {
    background: #212529;
}

.acustom {
    font-family: "Roboto Slab", serif;
    margin-right: 0.6rem;
    color: #f15355;
    text-decoration: none;
}

.acustom:hover {
    color: #037887;
}

.acustom:visited {
    color: #dcdcdc !important;
}

.acustom a:active {
    color: #dcdcdc !important;
}

.NavBarElements {
    padding-top: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.1rem;
    color: #037887;
}

.NavCollapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.NavToggle {

    button {
        color: #f15355;
        background: #037887;
        outline: 2px solid #037887;
    }

    span {
        color: #f15355;
    }


}

.Brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ImgBrand {
    width: 40px;
}


.Img {
    width: 300px;
    margin-bottom: 1rem;
}

.Img:hover {
    border: 4px solid #037887;
}

.Col {
    display: flex;
    justify-content: center;
}

.ImgCode {
    width: 40px;

}

.Title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
    color: #f15355;

}

.SubTitle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #037887;
}

.SubText {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    color: #f15355;
}

.ButtonProjects {
    color: #dcdcdc;
    margin-bottom: 2rem;
    font-family:"Roboto Slab", serif;
    background-color: #037887;
    border-color: #037887;
}


.ButtonProjects:hover {
    transform: translate(5px);
    background-color: #f15355;
    border-color: #f15355;
}

.ButtonProjects:active {
    background-color: #dcdcdc !important;
    border: 4px solid #dcdcdc !important;
    color: #212529 !important;
}

.CardTitle {
    font-family: Georgia, serif;
    color: #f15355;
}

.CardText {
    font-family: "Roboto Slab", serif;
    color: #dcdcdc;
}

.TextFooter {
    align-items: end;
    font-family: "Roboto Slab", serif;
    color: #dcdcdc;
}

.Paragraph {
    text-align: justify;
    font-family: "Roboto Slab", serif;
    color: #dcdcdc;
}
.Footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.Section {
    padding-bottom: 2rem;
}


.Card {
    padding: 0.5rem;
    background: #212529;
}

.Card:hover {
    border: 4px solid #037887 ;
}

.Badge {
    background-color: #f15355;
    color: #dcdcdc;
}

.ImageFooter {
    width: 2.5rem;
    margin: 0.5rem;
}

.ImageFooter:hover {
    border-radius: 8px;
    border: 4px solid #037887;
}
